body {
    margin: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(22, 5, 181, 1) 48%, rgba(0, 212, 255, 1) 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;